
@{
    ViewBag.Title = "Forbidden";
}

<h2>Your role is not authorized for this action.</h2>

<div class="well">
    Go To the 'AuthorizationManager' class under root and Comment Line 44 and Uncomment Line 45.
    <br /><br />
    This will allow the 'Manager' role to access this resource. 
</div>

