@{
    ViewBag.Title = "Memic Web Token Application";
}

<div class="jumbotron">
    <h2>Memic Web Token Application</h2>
    <ol style="font-weight:bold; font-size:larger; line-height:30px">
        <li>Click on 'Identity' in the menu above </li>
        <li>
            Login with:
            <ul style="list-style-type: none">
                <li>Username: Larry</li>
                <li>Password: secret</li>
            </ul>
        </li>
        <li>Allow All Permissions</li>
        <li>View the Web Token and the User Claims</li>
    </ol>   
</div>

